<main>
    <section class="form-section">

        <div class="form-card">

            <h2>{{ title() }}</h2>

            <div class="form-container">
                <ng-content select="[auth-form]"></ng-content>
            </div>        

            <button class="primary-button" (click)="submit()">{{ primaryButtonText() }}</button>
        
            <ng-content select="[auth-footer]"></ng-content>

        </div>

        
    </section>
    
    <section class="logo-section">

        <img class ="shapes" src="shapes.svg"/>

        <div class="features">

            <h2>Task Manager</h2>

            <div class="feature">   
                <img class ="checkmark-icon" src="checkmark_icon.svg"/>
                <p>Organize</p>
            </div>

            <div class="feature" >   
                <img class ="clock-icon" src="clock_icon.svg"/>
                <p>Priorize</p>
            </div>

            <div class="feature" >   
                <img class ="graphic-icon" src="graphic_icon.svg"/>
                <p>Acompanhe</p>
            </div>

        </div>

        <div class="logo">
            <img class="logo-img" src="logo.svg"/>
            <img class="shape-logo" src="shape_logo.svg"/>
        </div>
        
    </section>
</main>