<main>
    <div class="main-content">

        <section class="form-section">

            <div class="form-card">

                <h2>{{ title() }}</h2>

                <div class="form-container">
                    <ng-content select="[auth-form]"></ng-content>
                </div>

                <button class="primary-button" (click)="submit()">
                    {{ primaryButtonText() }}
                </button>

                <ng-content select="[auth-footer]"></ng-content>

            </div>

        </section>

        <section class="logo-section">

            <div class="shapes">
                <img class="shape-left" src="shapes/auth/shape-auth-left.svg" />
                <img class="shape-bottom" src="shapes/auth/shape-auth-bottom.svg" />
                <img class="shape-top-left" src="shapes/auth/shape-auth-top.svg" />

                <img class="shape-dots-top" src="shapes/auth/shape-auth-dots.svg" />
                <img class="shape-dots-bottom" src="shapes/auth/shape-auth-dots.svg" />
            </div>

            <div class="features">

                <h2>Task Manager</h2>

                <div class="icons-text">
                    <div class="feature">
                        <img class="checkmark-icon" src="checkmark_icon.svg" />
                        <p>Organize</p>
                    </div>

                    <div class="feature">
                        <img class="clock-icon" src="clock_icon.svg" />
                        <p>Priorize</p>
                    </div>

                    <div class="feature">
                        <img class="graphic-icon" src="graphic_icon.svg" />
                        <p>Acompanhe</p>
                    </div>


                </div>

            </div>

            <div class="logo">
                <img class="logo-img" src="logo.svg" />
                <img class="shape-logo" src="shapes/auth/shape-auth-circle.svg" />
            </div>

        </section>

    </div>
</main>