@use "variables" as *;
@use "auth-form" as auth;

@include auth.auth-form-page($message-margin-top: -20px,
    $message-font-size: $caption-font-size);

.confirm-password-field {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.password-message {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16px;

    .password-error-message {
        margin-left: 40px;
        color: $error-color;
        font-size: 13px;
    }
}

@media (max-width: 520px) {
    .confirm-password-field {
        width: 100%;
    }

    .password-message .password-error-message {
        margin-left: 24px;
    }
}