@import "../../../styles/variables.scss";

input {
    border-radius: 34px;
    background-color: transparent;
    border: 2px solid grey;
    font-size: 18px;
    color: black;
    height: 66px;
    width: 470px;
    text-align: start;
    padding-left: 40px;
}