@use "variables" as *;

.container {

    .dropdown-title {
        display: flex;

        margin-left: var(--title-left-margin, 10px);

        font-size: var(--title-size, 18px);
        font-weight: var(--title-weight, 400);

        color: var(--title-color, $grey-text-color);
    }

    .dropdown {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: var(--dropdown-width, 200px);
        height: var(--dropdown-height, 40px);

        margin-top: 5px;

        box-sizing: border-box;

        border: var(--border-options, 1px solid #7e8391);
        border-radius: 10px;

        background-color: white;

        cursor: pointer;

        transition:
            border-color 0.15s ease,
            border-radius 0.15s ease;

        &:hover {
            border-color: $primary-color;
        }

        &.open {
            border-color: $primary-color;
            border-radius: 10px 10px 0 0;

            .dropdown-arrow {
                transform: rotate(360deg);
            }
        }
    }

    .dropdown-text {
        display: flex;
        align-items: center;

        margin: 0;
        margin-left: var(--main-text-margin-left, 5px);

        padding: 10px;

        font-size: var(--main-text-size, 16px);

        color: var(--options-text-color, $primary-text-color);

        &.selected {
            color: $primary-text-color;
        }
    }

    .dropdown-arrow {
        width: 20px;
        height: 20px;

        transform: rotate(180deg);

        margin-left: auto;
        margin-right: 10px;

        color: $primary-text-color;

        transition: transform 0.15s ease;
    }

    .dropdown-options {
        position: absolute;

        top: 100%;
        left: var(--dropdown-border-left, -1px);

        width: var(--dropdown-border-width, calc(100% + 2px));

        box-sizing: border-box;

        border: var(--border-options, 1px solid $primary-color);
        border-top: none;
        border-radius: 0 0 10px 10px;

        background-color: white;

        overflow: hidden;

        z-index: 10;
    }

    .dropdown-option {
        padding: var(--option-padding, 10px 0 10px 15px);

        font-size: var(--main-text-size, 16px);

        color: $primary-text-color;

        cursor: pointer;

        transition:
            color 0.15s ease,
            background-color 0.15s ease;

        &:hover {
            color: white;

            background-color: $hover-button;
        }
    }
}