<div
    class="task"
    [class.without-checkbox]="withoutCheckbox()"
    [class.without-options]="withoutOptions()">

    @if (showCheckbox()) {
        <label
            class="task-checkbox"
            nz-checkbox
            [nzChecked]="checked()"
            (nzCheckedChange)="checkedChange.emit(task().id)">
        </label>
    }

    <div class="task-info">
        <p class="task-title" (click)="taskClicked.emit(task().id)">
            {{ title() }}
        </p>

        <p class="description">{{ description() }}</p>
    </div>

    <p class="task-details date">
        {{ task().createdAt | date:'dd/MM/yyyy' }}
    </p>

    <p class="task-details priority" [ngClass]="priorityClass()">
        {{ priority() }}
    </p>

    <p class="task-details status" [ngClass]="statusClass()">
        {{ status() }}
    </p>

  @if (showOptions()) {
        <button
            #optionsButton
            class="btn-options"
            type="button"
            aria-label="Opções da tarefa"
            (click)="$event.stopPropagation(); optionsClicked.emit(optionsButton)">

            <nz-icon
                nzType="more"
                nzTheme="outline">
            </nz-icon>

        </button>
    }

</div>
