@use "variables" as *;

@mixin select-dropdown($font-size) {
    .ant-select-item-option {
        color: $primary-blue-color;
        font-size: $font-size;

        &:hover {
            color: $white-color !important;
            background-color: $secondary-blue-color !important;
        }
    }

    .ant-select-item-option-content {
        color: inherit;
        font-size: inherit;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled),
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        color: $white-color !important;
        background-color: $secondary-blue-color !important;
    }
}

@mixin overlay-styles {
    .cdk-overlay-container {

        .task-select-dropdown,
        .task-form-select-dropdown {
            @include select-dropdown($large-text-font-size);
        }

        .report-select-dropdown {
            @include select-dropdown($body-font-size);
        }

        .page-size-dropdown {

            .ant-select-item-option,
            .ant-select-item-option-content {
                font-size: $large-text-font-size;
            }
        }
    }
}