$primary-color: #0b2f6a;
$grey-text-color: #757b8d;
$primary-text-color: #032070; 
$secondary-text-color: white;
$grey-bg: #ebebf3;
$hover-button: #134cb7;
$shape-color: #1a417f;
$black-gray: #1d1e51;