@import "../../../styles/variables.scss";

main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    section {
        height: 100%;
    }

    .logo-section {
        position: relative;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: left;
        flex: 1;
        
        background-color: $primary-color;

        .features {
            display:flex;
            flex-direction:column;
            padding-left: 150px;
            gap:28px;
            z-index: 1;

            h2{
                color:white;
                font-size:40px;
                padding-bottom: 65px;
            }

            .feature{
                display:flex;
                align-items:center;
                gap:18px;

                p{
                    color:white;
                    font-size:24px;
                }
            }
        }

        .logo {
            position:absolute;

            right:70px;

            top:50%;

            transform:translateY(-40%);

            width:380px;
            height:380px;


            .logo-img {
                position: absolute;

                width: 190px;
                height: 189px;

                top: 50%;
                left: 50%;

                transform: translate(-40%, -60%);

                z-index: 1;
            }

            .shape-logo {
                position: absolute;

                inset: 0;

                width: 100%;
                height: 100%;

                object-fit: contain;

                z-index: 0;
            }
        }

        .shapes{
            position:absolute;

            width:100%;
            height:100%;
            object-fit:cover;

            z-index:0;
        }
    }

    .form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        gap: 8px;
        flex: 1;

        background-color: #ffffff;

        .form-card {

            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 24px;
            border: 1px solid #e1dedeFF;
            box-shadow: 2px 2px 2px 0px #00000033;
            background-color: #ffffff;
            padding: 100px 80px 100px 80px;

            z-index: 2;
        }

        h2 {
            color: $primary-color;
            font-size: 40px;
        }

        button {
            height: 66px;
            width: 470px;

            font-size: 20px;
            font-weight: 400;
            border-radius: 34px;
            background-color: $primary-color;
            color: white;
            border: none;
        }

        a{
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            color: $primary-color;
        }

        .forgot-password{
            text-align:start;
            padding: 6px 0px 30px 65px;
        }

        .create-account{
            text-align:center;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}