<div>
    <div class="task">

        <div class="task">          

            <div class="info-container">
                <label class="checkbox">
                    <input type="checkbox" [formControl]="taskForm.controls.completed"> 
                </label>

                <div class="task-info">
                    <p class="title">Task title</p>
                    <p class="description"> Task Description</p>
                </div>
            </div>
    
            <div class="task-data">
                <p class="task-date">27/08/2026</p>
                <p class="task-priority">Alta</p>
                <p class="task-status">Pendente</p>
                <img class="btn-options" src="task/task-dots.svg" alt="">
            </div>
             
        </div>     

    </div>
</div>              
  
