
<div class="task">

    <label class="checkbox">
        <input type="checkbox" [formControl]="taskForm.controls.completed"> 
    </label>

    <div class="task-info">
        <p class="task-title">Estudar ASP .NET</p>
        <p class="description"> Estudar APIS de autenticação</p>
    </div>

               
    <p class="prop-data date">27/08/2026</p>
    <p class="prop-data">Alta</p>
    <p class="prop-data"> Pendente </p>
    <img class="btn-options " src="content/task-dots.svg" alt=""> 
    
</div>

     
              
  
