
<div class="task">

    <label class="checkbox">
        <input type="checkbox" [formControl]="taskForm.controls.completed"> 
    </label>

    <div class="task-info">
        <p class="task-title">{{ task().title }}</p>
        <p class="description">{{ task().description }}</p>
    </div>

               
    <p class="task-details date">{{ task().createdAt | date:'dd/MM/yyyy' }}</p>
    <p class="task-details priority" [ngClass]="'priority-' + normalizeClass(task().priority)">{{ task().priority }}</p>
    <p class="task-details status" [ngClass]="'status-' + normalizeClass(task().status)"> {{ task().status }} </p>
    <img class="btn-options " src="icons/task-dots.svg" alt=""> 
    
</div>

     
              
  
