@import "../../../styles/variables.scss";

.task{
    display: grid;
    align-items: center;
    grid-template-columns: var(--task-columns);
    padding: 25px 60px;
    border: 2px solid red;

    .task-info{
        font-size: 20px;
        color: $primary-color;

        .description{
            font-size: 14px;
            color: grey;
        }
    }
    
    .btn-options{
        scale: 0.7;
       
        &:hover{
            cursor: pointer;
        }

       &:active{
            scale: 0.5;
       }
    }

    .prop-align{
        justify-self: center;
    }
}  



