<div class="layout">

    <aside class="sidebar">

        <div class="sidebar-shapes">
            <div class="shape-top"></div>
            <div class="shape-bottom"></div>
            <div class="shape-right"></div>
            <div class="shape-left"></div>
            <div class="shape-circle"></div>
        </div>

        <div class="sidebar-header">
            <h2>Task Manager</h2>
            <img class="logo-img" src="logo.svg">
        </div>

        <nav class="sidebar-menu">

            <a
                class="sidebar-link"
                routerLink="/tasks"
                routerLinkActive="active">
                
                <nz-icon
                    class="icon-menu"
                    nzType="unordered-list"
                    nzTheme="outline">
                </nz-icon>

                <p>Tarefas</p>
            </a>

            <a
                class="sidebar-link"
                routerLink="/report"
                routerLinkActive="active">
                <nz-icon
                    class="icon-menu"
                    nzType="bar-chart"
                    nzTheme="outline">
                </nz-icon>

                <p>Relatório</p>
            </a>

            <a
                class="sidebar-link"
                routerLink="/profile"
                routerLinkActive="active">
                <nz-icon
                    class="icon-menu"
                    nzType="user"
                    nzTheme="outline">
                </nz-icon>

                <p>Perfil</p>
            </a>

            <a
                class="sidebar-link"
                routerLink="/settings"
                routerLinkActive="active">
                <nz-icon
                    class="icon-menu"
                    nzType="setting"
                    nzTheme="outline">
                </nz-icon>

                <p>Configurações</p>
            </a>

        </nav>

        <footer class="sidebar-footer">

            <button
                class="sidebar-link btn-logout"
                type="button"
                (click)="logoutUser()">

               <nz-icon
                    class="icon-menu"
                    nzType="logout"
                    nzTheme="outline">
                </nz-icon>

                <p>Sair</p>
            </button>

        </footer>

    </aside>

    <div class="content">

        <header class="header-content">

            <div class="header-title">
                <p>Olá, {{ userName() }}</p>
                <span>Vamos organizar as coisas!</span>
            </div>

            <div class="user-container">

                <div class="user-trigger" (click)="toggleUserMenu()">

                    <div class="user-icon-container">
                        <p class="user-icon">{{ userIcon() }}</p>
                    </div>

                    <p class="user-name" [class.active]="isUserMenuOpen">
                        {{ userName() }}
                    </p>

                    <nz-icon
                        class="user-arrow"
                        nzType="right"
                        nzTheme="outline"
                        [class.active]="isUserMenuOpen">
                    </nz-icon>

                    @if (isUserMenuOpen) {
                        <div
                            class="user-dropdown"
                            (click)="$event.stopPropagation()">

                            <div class="dropdown-line"></div>

                            <div class="container-dropdown-buttons">

                                <button
                                    class="btn-dropdown"
                                    type="button"
                                    routerLink="/profile"
                                    (click)="closeUserMenu()">

                                    <nz-icon
                                        class="dropdown-img"
                                        nzType="user"
                                        nzTheme="outline">
                                    </nz-icon>

                                    <span>Perfil</span>
                                </button>

                                <button
                                    class="btn-dropdown"
                                    type="button"
                                    routerLink="/settings"
                                    (click)="closeUserMenu()">

                                    <nz-icon
                                        class="dropdown-img"
                                        nzType="setting"
                                        nzTheme="outline">
                                    </nz-icon>

                                    <span>Configurações</span>
                                </button>

                                <button
                                    class="btn-dropdown"
                                    type="button"
                                    (click)="logoutUser()">

                                    <nz-icon
                                        class="dropdown-img"
                                        nzType="logout"
                                        nzTheme="outline">
                                    </nz-icon>

                                    <span>Sair</span>
                                </button>

                            </div>

                        </div>
                    }

                </div>

            </div>

        </header>

        <main>
            <div
                class="body-content"
                (scroll)="contentScroll.emit()">
                <ng-content select="[body-content]"></ng-content>
            </div>
        </main>

    </div>

</div>