<div class= "layout">

    <aside class="sidebar">

        <div class="sidebar-shapes">
            <img class="shape-top" src="sidebar/shapes/shape-top.svg">
            <img class="shape-bottom" src="sidebar/shapes/shape-bottom.svg">
            <img class="shape-right" src="sidebar/shapes/shape-right.svg">
            <img class="shape-left" src="sidebar/shapes/shape-left.svg">   
            <img class="shape-circle" src="sidebar/shapes/shape-circle.svg">
        </div>
        
        
        <div class="sidebar-header">
            <h2>Task Manager</h2>
            <img class="logo-img" src="logo.svg"/>
        </div>

        <nav class="sidebar-menu">

            <a class="sidebar-link" routerLink="/dashboard" routerLinkActive="active">
                <img class="icon-menu" src="sidebar/icons/dashboard-icon.svg">
                <p>Dashboard</p>
            </a>

            <a class="sidebar-link" routerLink="/tasks" routerLinkActive="active">
                <img class="icon-menu" src="sidebar/icons/tasks-icon.svg">
                <p class="link-text">Tarefas</p>
            </a>

            <a class="sidebar-link" routerLink="/profile" routerLinkActive="active">
                <img class="icon-menu" src="sidebar/icons/profile-icon.svg">
                <p>Perfil</p>
            </a>

            <a class="sidebar-link" routerLink="/settings" routerLinkActive="active">
                <img class="icon-menu" src="sidebar/icons/settings-icon.svg">
                <p>Configurações</p>
            </a>
                    
        </nav>   
        
        <footer class ="sidebar-footer">
        
            <button class="sidebar-link btn-logout" routerLink="/login">
                <img class="icon-menu" src="sidebar/icons/logout-icon.svg">
                <p>Sair</p>
            </button>
            
        </footer>

    </aside>

    <div class="content">

        <header class="header-content">

            <div class ="header-title">
                <p> Olá, Mateus <p>
                <span>Vamos organizar as coisas!</span>
            </div>
    
            <div class="user-container">
                <p class="user-icon"> M </p>
                <p class="user-name">
                     Mateus
                    <img [class.active]="isUserMenuOpen" (click)="toggleUserMenu()" class="user-arrow" src="content/icon-arrow.svg">
                </p>
                
            </div>
            
        </header>

        <main>
            <div class="body-content">
                <ng-content select="[body-content]"></ng-content>
            </div>
        </main>

    </div>

</div>

