<div class="layout">

    <aside class="sidebar">

        <div class="sidebar-shapes">
            <img class="shape-top" src="shapes/shape-top.svg">
            <img class="shape-bottom" src="shapes/shape-bottom.svg">
            <img class="shape-right" src="shapes/shape-right.svg">
            <img class="shape-left" src="shapes/shape-left.svg">
            <img class="shape-circle" src="shapes/shape-circle.svg">
        </div>


        <div class="sidebar-header">
            <h2>Task Manager</h2>
            <img class="logo-img" src="logo.svg" />
        </div>

        <nav class="sidebar-menu">

            <a class="sidebar-link" routerLink="/dashboard" routerLinkActive="active">
                <img class="icon-menu" src="icons/dashboard-icon.svg">
                <p>Dashboard</p>
            </a>

            <a class="sidebar-link" routerLink="/tasks" routerLinkActive="active">
                <img class="icon-menu" src="icons/tasks-icon.svg">
                <p class="link-text">Tarefas</p>
            </a>

            <a class="sidebar-link" routerLink="/profile" routerLinkActive="active">
                <img class="icon-menu" src="icons/profile-icon.svg">
                <p>Perfil</p>
            </a>

            <a class="sidebar-link" routerLink="/settings" routerLinkActive="active">
                <img class="icon-menu" src="icons/settings-icon.svg">
                <p>Configurações</p>
            </a>

        </nav>

        <footer class="sidebar-footer">

            <button class="sidebar-link btn-logout" routerLink="/login">
                <img class="icon-menu" src="icons/logout-icon.svg">
                <p>Sair</p>
            </button>

        </footer>

    </aside>

    <div class="content">

        <header class="header-content">

            <div class="header-title">
                <p> Olá, Mateus
                <p>
                    <span>Vamos organizar as coisas!</span>
            </div>

            <div class="user-container" (click)="toggleUserMenu()">

                <div class="user-icon-container">
                    <p class="user-icon"> M </p>

                    @if (isUserMenuOpen)
                    {
                    <div class="user-dropdown">

                        <div class="container-dropdown-buttons">
                            <button class="btn-dropdown">
                                <img class="dropdown-img" src="icons/theme-icon.svg">
                                Tema
                            </button>
                            <button class="btn-dropdown">
                                <img class="dropdown-img" src="icons/profile-icon.svg">
                                Perfil</button>
                            <button class="btn-dropdown">
                                <img class="dropdown-img" src="icons/settings-icon.svg">
                                Configurações</button>
                            <button class="btn-dropdown">
                                <img class="dropdown-img" src="icons/logout-icon.svg">
                                Sair</button>
                        </div>

                    </div>
                    }

                    <img class="user-arrow" [class.active]="isUserMenuOpen" src="icons/arrow-icon.svg">
                </div>



            </div>

        </header>

        <main>
            <div class="body-content">
                <ng-content select="[body-content]"></ng-content>
            </div>
        </main>

    </div>

</div>