@import "../../../styles/variables.scss";

h2 {
    font-size: 40px;
    color: $secondary-text-color;
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;

    .sidebar {
        background-color: $primary-color;
        position: relative;
        padding-top: 60px;

        display: flex;
        flex-direction: column;

        width: 300px;

        .sidebar-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px;
            justify-content: center;
            gap: 30px;
            z-index: 1;

            h2 {
                font-size: 30px;
            }

            .logo-img {
                max-width: 105px;
            }
        }

        .sidebar-menu {
            display: flex;
            flex-direction: column;
            margin: 0px 10px;
            padding: 10px;
            margin-top: 40px;
            gap: 5px;
        }

        .sidebar-footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: auto;
            padding: 30px 10px;
            z-index: 1;
            border-top: $grey-text-color 1px solid;

            .btn-logout {
                background: transparent;
                border: none;
                border-radius: 10px;
                margin: 0px 10px;

                &:hover {
                    filter: brightness(1.1);
                    background-color: #142e7a;
                }
            }
        }

        .sidebar-link {
            color: $secondary-text-color;
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding: 15px;
            gap: 10px;
            font-size: 18px;
            font-weight: 350;
            text-decoration: none;

            .icon-menu {
                max-width: 40px;
            }

            &:hover {
                filter: brightness(1.1);
                background-color: #142e7a;
            }

            &:active {
                transform: scale(0.97);
            }

            &.active {
                background-color: #142e7a;
                color: $secondary-text-color;

            }
        }

        .sidebar-shapes {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;

            z-index: 0;

            pointer-events: none;

            .shape-top {
                position: absolute;
                top: 0px;
                right: 0;
            }

            .shape-bottom {
                position: absolute;
                left: -6%;
                top: 50%;
                scale: 0.6;
            }

            .shape-right {
                position: absolute;
                right: -1.3%;
                top: 56%;
                scale: 0.8;
            }

            .shape-left {
                position: absolute;
                left: 0;
                top: 10%;
            }

            .shape-circle {
                position: absolute;
                scale: 0.8;
                top: 75%;
                left: 50%;
            }
        }
    }



    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .header-content {
            display: flex;
            width: 100%;
            padding: 10px 25px;
            border-bottom: 1px solid $grey-text-color;

            .header-title {
                font-size: 22px;
                margin-left: 30px;
                color: $primary-text-color;

                span {
                    position: relative;
                    font-size: 17px;
                    bottom: 4px;
                }
            }



            .user-container {
                display: flex;
                position: relative;
                align-items: center;
                gap: 10px;
                padding: 10px 0px;
                margin-left: auto;
                margin-right: 60px;
                justify-content: center;

                .user-icon-container {
                    position: relative;
                    display: flex;

                    .user-icon {
                        display: flex;
                        width: 38px;
                        height: 38px;
                        align-items: center;
                        justify-content: center;
                        color: $secondary-text-color;
                        z-index: 2;

                        font-size: 22px;
                        border-radius: 50%;
                        background-color: #4365c6;
                    }

                    .user-dropdown {
                        position: absolute;
                        top: calc(100% - 50px);
                        left: 38%;
                        transform: translateX(-50%);

                        display: flex;
                        flex-direction: column;

                        background-color: $primary-color;

                        padding: 18px;

                        border-radius: 10px;

                        z-index: 1;

                        width: 150px;
                        height: 240px;

                        align-items: center;

                        transition:
                            opacity 0.5s ease,
                            transform 0.5s ease;

                        @starting-style {
                            opacity: 0;
                            transform: translate(-50%, -10px);
                        }

                        .container-dropdown-buttons {
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            top: 22%;

                            .dropdown-img {
                                width: 20px;
                                height: 20px;
                            }

                            .btn-dropdown {
                                display: flex;
                                gap: 10px;
                                border-radius: 6px;
                                border: 1px solid $primary-color;
                                padding: 10px;
                                font-size: 14px;
                                color: $secondary-text-color;
                                background-color: $primary-color;
                              
                                &:active {
                                    scale: 0.9;
                                }

                                &:hover {
                                    background-color: $hover-button;
                                }
                            }

                            .user-arrow {
                                scale: 0.9;
                                position: relative;
                                top: 2px;
                                transform: rotate(-90deg);

                                &.active {
                                    transform: rotate(0deg);
                                }

                            }

                        }

                    }

                }

            }
        }

        main {
            flex: 1;
            display: flex;
            min-height: 0;
            overflow: hidden;
            padding: 15px 20px 0px 20px;
            background-color: $grey-bg;

            .body-content {
                flex: 1;
                overflow-y: auto;
                min-height: 0;
            }
        }

        footer {
            display: flex;
            margin-left: 30px;
            align-items: center;
            padding: 8px 0px;

            .footer-text {
                font-size: 14px;
                color: $grey-text-color;
            }
        }
    }
}