@import "../../../styles/variables.scss";

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 24px;
}

.auth-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
    font-size: 16px;
}

.footer-text {
    color: black;
}

.textLink {
    color: $primary-text-color;
    text-decoration: underline;
    cursor: pointer;
}

.password-error-message {
    position: relative;
    align-self: flex-start;
    margin-left: 40px;
    bottom: 18px;
    color: red;
    font-size: 13px;
}

.error-message{
    color: red;
    font-size: 16px;
}

.success-message{
    color: green;
    font-size: 16px;
}