<div class="task-page">

    <div class="container">

        <header class="container-header">

            <div class="header-top">

                <h2 class="header-title">
                    Minhas Tarefas
                </h2>

                <button
                    class="btn-new-task"
                    type="button"
                    (click)="openTaskForm('create')">

                    <span
                        nz-icon
                        nzType="plus"
                        nzTheme="outline"
                        class="icon-new-task">
                    </span>

                    <span>Nova Tarefa</span>

                </button>

            </div>


            <div class="header-actions">

                <div class="task-filters">

                    <div class="filter-field">

                        <label
                            class="filter-label"
                            for="task-search">
                            Pesquisar
                        </label>

                        <div class="search-container">

                            <span
                                nz-icon
                                nzType="search"
                                nzTheme="outline"
                                class="icon-search">
                            </span>

                            <input
                                id="task-search"
                                class="search-input"
                                type="search"
                                placeholder="Pesquisar tarefas..."
                                [formControl]="searchControl">

                        </div>

                    </div>


                    <div class="filter-field">

                        <label class="filter-label">
                            Prioridade
                        </label>

                        <nz-select
                            class="task-select priority-select"
                            nzDropdownClassName="task-select-dropdown"
                            [nzDropdownMatchSelectWidth]="true"
                            [ngModel]="selectedPriorityId()"
                            (ngModelChange)="selectPriorityById($event)">

                            @for (priority of priorityOptions(); track priority.id) {

                                <nz-option
                                    [nzValue]="priority.id ?? 0"
                                    [nzLabel]="priority.name">
                                </nz-option>

                            }

                        </nz-select>

                    </div>


                    <div class="filter-field">

                        <label class="filter-label">
                            Status
                        </label>

                        <nz-select
                            class="task-select status-select"
                            nzDropdownClassName="task-select-dropdown"
                            [nzDropdownMatchSelectWidth]="true"
                            [ngModel]="selectedStatusId()"
                            (ngModelChange)="selectStatusById($event)">

                            @for (status of statusOptions(); track status.id) {

                                <nz-option
                                    [nzValue]="status.id ?? 0"
                                    [nzLabel]="status.name">
                                </nz-option>

                            }

                        </nz-select>

                    </div>


                    <div class="filter-field">

                        <label class="filter-label">
                            Data inicial
                        </label>

                        <nz-date-picker
                            class="task-date-picker"
                            nzFormat="dd/MM/yyyy"
                            nzPlaceHolder="Data inicial"
                            [nzAllowClear]="false"
                            [ngModel]="startDate()"
                            (ngModelChange)="selectStartDate($event)">
                        </nz-date-picker>

                    </div>


                    <div class="filter-field">

                        <label class="filter-label">
                            Data final
                        </label>

                        <nz-date-picker
                            class="task-date-picker"
                            nzFormat="dd/MM/yyyy"
                            nzPlaceHolder="Data final"
                            [nzAllowClear]="false"
                            [ngModel]="endDate()"
                            (ngModelChange)="selectEndDate($event)">
                        </nz-date-picker>

                    </div>


                    <button
                        type="button"
                        class="btn-clear-filters"
                        (click)="clearFilters()">

                        <span
                            nz-icon
                            nzType="reload"
                            nzTheme="outline"
                            class="icon-clear-filters">
                        </span>

                        <span>Limpar filtros</span>

                    </button>

                </div>

            </div>

        </header>


        <div class="task-list-header">

            <label
                nz-checkbox
                class="task-checkbox"
                [nzChecked]="areVisibleTasksChecked()"
                (nzCheckedChange)="toggleAllVisibleTasks()">
            </label>


            <p class="column-title">
                Tarefas
            </p>


            <button
                type="button"
                class="column-title column-sortable"
                (click)="orderTasks(TaskSort.CreatedAt)">
                Data de Criação
            </button>


            <button
                type="button"
                class="column-title column-sortable"
                (click)="orderTasks(TaskSort.TaskPriority)">
                Prioridade
            </button>


            <button
                type="button"
                class="column-title column-sortable"
                (click)="orderTasks(TaskSort.TaskStatus)">
                Status
            </button>


            <button
                type="button"
                class="column-title column-sortable"
                (click)="openDeleteCheckedConfirmation()">

                <span
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    class="icon-delete">
                </span>

            </button>

        </div>


        <div class="tasks-wrapper">

            @for (task of tasks(); track task.id) {

                <app-task
                    [task]="task"
                    [checked]="checkedTaskIds().has(task.id)"
                    (checkedChange)="toggleCheckedTask($event)"
                    (optionsClicked)="openTaskOptions(task.id, $event)"
                    (taskClicked)="openTaskDetailsById($event)">
                </app-task>

            }

        </div>


        @if (activeTaskId() && selectedTaskPosition()) {

            <app-task-options
                [position]="selectedTaskPosition()!"
                (closeOptions)="closeTaskOptions()"
                (deleteTaskClicked)="openDeleteConfirmation()"
                (editTaskClicked)="openTaskForm('edit')"
                (viewTaskClicked)="openTaskDetails()">
            </app-task-options>

        }

    </div>


    <footer class="container-footer">

        <p class="footer-text">
            Mostrando {{ tasks().length }}
            de {{ pagedResponse()?.totalCount ?? 0 }} tarefas
        </p>


        <div class="pagination">

            <span class="pagination-label">
                Páginas:
            </span>


            <button
                type="button"
                class="btn-page"
                [disabled]="currentPage() === 1"
                (click)="changePage(1)">
                &lt;&lt;
            </button>


            <button
                type="button"
                class="btn-page"
                [disabled]="currentPage() === 1"
                (click)="changePage(currentPage() - 1)">
                &lt;
            </button>


            @for (page of visiblePages(); track page) {

                <button
                    type="button"
                    class="btn-page"
                    [class.active]="currentPage() === page"
                    (click)="changePage(page)">
                    {{ page }}
                </button>

            }


            <input
                #pageInputElement
                class="page-input"
                type="number"
                placeholder="__"
                min="1"
                [max]="pagedResponse()?.totalPages ?? 1"
                [formControl]="pageInput"
                (keydown.enter)="goToPage(pageInputElement)"
                (blur)="pageInput.reset()">


            <button
                type="button"
                class="btn-page"
                [disabled]="currentPage() === (pagedResponse()?.totalPages ?? 1)"
                (click)="changePage(currentPage() + 1)">
                &gt;
            </button>


            <button
                type="button"
                class="btn-page"
                [disabled]="currentPage() === (pagedResponse()?.totalPages ?? 1)"
                (click)="changePage(pagedResponse()?.totalPages ?? 1)">
                &gt;&gt;
            </button>

        </div>

    </footer>


    @if (activeModal() === 'view' && selectedTask()) {

        <div
            class="sidebar-backdrop"
            (click)="closeModal()">
        </div>

        <aside
            class="task-details-sidebar"
            [class.closing]="isClosingTaskDetails()">

            <app-task-view
                [task]="selectedTask()!"
                (closeClicked)="closeTaskDetails()"
                (deleteTaskClicked)="openDeleteConfirmation()"
                (editTaskClicked)="openTaskForm('edit')">
            </app-task-view>

        </aside>

    }


    @if (activeModal() === 'delete') {

        <app-confirmation-modal
            title="Excluir tarefa?"
            description="Essa ação não poderá ser desfeita."
            confirmText="Excluir"
            (confirm)="deleteTask()"
            (cancel)="closeModal()">
        </app-confirmation-modal>

    }


    @if (activeModal() === 'deleteChecked') {

        <app-confirmation-modal
            title="Excluir tarefas selecionadas?"
            description="Essa ação não poderá ser desfeita."
            confirmText="Excluir"
            (confirm)="deleteCheckedTasks()"
            (cancel)="closeModal()">
        </app-confirmation-modal>

    }


    @if (
        (activeModal() === 'create' || activeModal() === 'edit') &&
        (activeModal() === 'create' || selectedTask())
    ) {

        <div
            class="modal-overlay"
            (click)="closeModal()">

            <div
                class="modal-content"
                (click)="$event.stopPropagation()">

                <app-task-form
                    [mode]="taskFormMode()"
                    [task]="selectedTask()"
                    [priorityOptions]="priorityFormOptions()"
                    [statusOptions]="statusFormOptions()"
                    (submitClicked)="saveTask($event)"
                    (cancelClicked)="closeModal()">
                </app-task-form>

            </div>

        </div>

    }

</div>