@import "../../../styles/variables.scss";

h2 {
    font-size: 40px;
    color: white;
}

.layout{
    display: flex;
    min-height: 100vh;
    
    .sidebar{
        background-color: $primary-color;
        position: relative;
        padding-top: 40px;

        display: flex;
        flex-direction: column;

        width: 18%;

        // border: 10px solid green;
                
        .sidebar-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px;
            justify-content: center;
            gap: 20px;
            z-index: 1;
            
            h2{
                font-size: 30px;
            }

            .logo-img{
                width: 100%;
                max-width: 85px;
            }
        }  
        
        .sidebar-menu{
            display: flex;
            flex-direction: column;
            padding: 10px;
            z-index: 1;
            margin-top: 40px;
        }

        .sidebar-footer{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: auto;
            margin-bottom: 20px;
            padding: 0 10px;
            z-index: 1;

            .btn-logout{
                background: transparent;
                border: none; 
                border-radius: 10px; 
                
                span{
                    font-size: 16px;
                    color: white;
                }
                
                &:hover {
                    filter: brightness(1.1);
                    background-color: #142e7a;
                }
            }         
        }

        .sidebar-link{
            color: white;
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding: 15px;
            gap: 10px;

            .icon-menu{
                max-width: 40px;
            }

            &:hover {
                filter: brightness(1.1);
                background-color: #142e7a;
            } 

            &:active {
                transform: scale(0.97);
                }
        }

        .sidebar-shapes{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;

            z-index: 0;

            pointer-events: none;

            .shape-top{
                position: absolute;
                top: 0px;
                right: 0;
            }

            .shape-bottom{
                position: absolute;
                left: -9%;
                top: 52%;
                scale: 0.7;
            }

            .shape-right{
                position: absolute;
                right: -2%;
                top: 60%;
                scale: 0.8;
            }

            .shape-left{
                position: absolute;
                left: 0;
                top: 10%;
            }

            .circle{
                position: absolute;
                top: 80%;
                left: 50%;            
            }
        }
    }
           
        

    .content{
        flex: 1;
        display: flex;
        flex-direction: column;

        .header-content{
            border: 5px solid red;
            display: flex;
            width: 100%;
            align-items: center;
            
            .title-container{
                font-size: 20px;
                margin-left: 30px;

                span{
                    font-size: 14px;
                }
            }

            .user-container{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 0px;
                margin-left: auto;
                margin-right: 30px;
                       
                .user-icon{
                    display: flex;
                    width: 48px;
                    height: 48px;
                    align-items: center;
                    justify-content: center;  
                    
                    font-size: 26px;
                    border-radius: 50%;
                    background-color: aqua;            
                }
            }
        }

        main{
            flex: 1;
            display: flex;

            .body-content{
                border: 5px solid blue;
                flex: 1;
            }
        }   
    }   
}
