@import "../../../styles/variables.scss";

h2 {
    font-size: 40px;
    color: white;
}

.layout{
    display: flex;

    .sidebar{
        background-color: $primary-color;

        display: flex;
        flex-direction: column;

        width: 20%;
        padding-top: 60px;
        border: 10px solid green;
                
        .icon-menu{
            max-width: 40px;
        }

        .sidebar-header{
            display: flex;
            padding-top: 40px;
            padding-bottom: 100px;
            justify-content: center;
            
            h2{
                font-size: 38px;
            }
        }

        .sidebar-menu{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0 20px;

            .menu-link{
                color: white;
                display: flex;
                align-items: center;
                padding: 15px 10px 15px 10px;
                border-radius: 10px;
                gap: 10px;

                &:hover {
                    filter: brightness(1.1);
                    background-color: #142e7a;
                }
      
                
            }
        }

        .sidebar-footer{
            display: flex;
            width: 100%;
            padding: 250px 20px 0px 20px;

            .btn-logout{
                display: flex;
                color: white;
                align-items: center;
                padding: 15px 10px 15px 10px;
                background: transparent;
                border: none; 
                border-radius: 10px; 
                gap: 10px;
                width: 250px;
                font-size: 16px;
                
                &:hover {
                    filter: brightness(1.1);
                    background-color: #142e7a;
                }
            }         
        }
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;

        .header-content{
            border: 5px solid red;
            display: flex;
            width: 100%;
            align-items: center;
            
            .title-container{
                font-size: 20px;
                padding-left: 30px;

                span{
                    font-size: 14px;
                }
            }

            .user-container{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 50px 10px;
                margin-left: auto;
                       
                .user-icon{
                    display: flex;
                    width: 48px;
                    height: 48px;
                    align-items: center;

                    font-size: 30px;
                    border-radius: 50%;
                    background-color: aqua;
                    padding: 10px;    
                }
            }
        }

         .body-content{
            border: 5px solid blue;
            display: flex;
            height: 100vh;
        }
    }

   
}
