<div class= "layout">

    <aside class="sidebar">

        <div class="sidebar-shapes">
            <img class="shape-top" src="side-shape-top.svg">
            <img class="shape-bottom" src="side-shape-bottom.svg">
            <img class="shape-right" src="side-shape-right.svg">
            <img class="shape-left" src="side-shape-left.svg">   
            <img class="circle" src="circle.svg">
        </div>
        
        
        <div class="sidebar-header">
            <h2>Task Manager</h2>
            <img class="logo-img" src="logo.svg"/>
        </div>

        <nav class="sidebar-menu">

            <a class="sidebar-link" routerLink="/dashboard">
                <img class="icon-menu" src="clock_icon.svg">
                <span>Dashboard</span>
            </a>

            <a class="sidebar-link" routerLink="/tasks">
                <img class="icon-menu" src="clock_icon.svg">
                <span>Tarefas</span>
            </a>

            <a class="sidebar-link" routerLink="/profile">
                <img class="icon-menu" src="clock_icon.svg">
                <span>Perfil</span>
            </a>

            <a class="sidebar-link" routerLink="/settings">
                <img class="icon-menu" src="clock_icon.svg">
                <span>Configurações</span>
            </a>
                    
        </nav>   
        
        <footer class ="sidebar-footer">
        
            <button class="sidebar-link btn-logout">
                <img class="icon-menu" src="clock_icon.svg">
                <span>Sair</span>
            </button>
            
        </footer>

    </aside>

    <div class="content">

        <header class="header-content">

            <div class ="title-container">
                <p> Olá, Mateus <p>
                <span>Vamos organizar as coisas!</span>
            </div>
    
            <div class="user-container">
                <p class="user-icon"> M </p>
                <p class="user-name"> Mateus</p>
            </div>
            
        </header>

        <main>
            <div class="body-content">

            </div>
        </main>

        <footer>
            <p>Páginas</p>
        </footer>

    </div>

</div>

