@if (type() === 'textarea') {

    <textarea
        class="new-task-input"
        [formControl]="control()"
        [placeholder]="placeholder()"
        [class.invalid]="control().invalid && control().touched">
    </textarea>

} @else {

    <input
        class="new-task-input"
        [type]="type()"
        [formControl]="control()"
        [placeholder]="placeholder()"
        [class.invalid]="control().invalid && control().touched"
    />

}

@if (control().invalid && control().touched){
    @if (control().hasError('required')) {
        <p class="error-message">Campo obrigatório</p>
    }

    @if (control().hasError('email')){
        <p class="error-message">Digite um e-mail válido</p>
    }

     @if (control().hasError('minlength')){
        <p class="error-message">O campo deve ter pelo menos 6 caracteres.</p>
    }
}