<div class="container">
    <div class="container-header">
        <img class="img-icon" src="icons/new-task-icon.svg">
        <div class="header-texts">
            <p class="header-title">Adicionar nova tarefa</p>
            <p class="header-subtitle">Preencha as informações da nova tarefa</p>
        </div>

    </div>

    <div class="container-content">

        <div class="content-box">
            <p class="task-title">Título</p>
            <app-input-forms class="form-title" type="text" placeholder="Insira um título para a tarefa"
                [control]="newTaskForm.controls.titulo">
            </app-input-forms>
        </div>

        <div class="content-box">
            <p class="task-title">Prioridade</p>
            <div class="priority-dropdown" [class.active]="isPriorityDropdownOpen" (click)="togglePriorityDropdown()">
                <p class="dropdown-text">{{ selectedPriority.name }}</p>
                <img class="dropdown-arrow" src="icons/arrow-icon.svg">

                @if (isPriorityDropdownOpen) {
                <div class="priority-options">

                    @for (priority of priorities; track priority.id) {

                    <p class="priority-option" (click)="selectPriority(priority); 
                        $event.stopPropagation()"> {{ priority.name }}
                    </p>
                    }
                </div>
                }
            </div>
        </div>


        <div class="content-box">
            <p class="task-title">Descrição</p>
            <app-input-forms class="form-description" type="textarea" placeholder="Insira uma descrição para sua tarefa"
                [control]="newTaskForm.controls.descricao">
            </app-input-forms>

        </div>

    </div>

    <div class="container-footer">
        <button class="btn-cancel" (click)="cancelNewTask()">Cancelar</button>
        <button class="btn-save">Salvar</button>
    </div>
</div>