<div class="container">
    <div class="container-header">
        <img class="img-icon" src="icons/new-task-icon.svg">
        <div class="header-texts">
            <p class="header-title">Adicionar nova tarefa</p>
            <p class="header-subtitle">Preencha as informações da nova tarefa</p>
        </div>

    </div>

    <div class="container-content">

        <div class="content-box">
            <p class="task-title">Título</p>
            <app-input-forms class="form-title" type="text" placeholder="Insira um título para a tarefa"
                [control]="newTaskForm.controls.titulo">
            </app-input-forms>
        </div>

        <app-dropdown class="dropdown-priority" [options]="priorityOptions" [selectedOption]="selectedPriority" label="Prioridade"
            (optionSelected)="selectPriority($event)">
        </app-dropdown>


        <div class="content-box">
            <p class="task-title">Descrição</p>
            <app-input-forms class="form-description" type="textarea" placeholder="Insira uma descrição para sua tarefa"
                [control]="newTaskForm.controls.descricao">
            </app-input-forms>

        </div>

    </div>

    <div class="container-footer">
        <button class="btn-cancel" (click)="cancelNewTask()">Cancelar</button>
        <button class="btn-save">Salvar</button>
    </div>
</div>