@import "../../../styles/variables.scss";

.container {


    .dropdown-title {
        display: flex;
        margin-left: var(--title-left-margin, 10px);

        font-size: var(--title-size, 18px);
        color: var(--title-color, $grey-text-color);
        font-weight: var(--title-weight, 400);
    }

    .dropdown {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: start;

        margin-top: 5px;

        width: var(--dropdown-width, 200px);
        height: var(--dropdown-height, 40px);
        box-sizing: border-box;

        border: var(--border-options, 1px solid grey);
        border-radius: 8px;

        background-color: white;

        &.open {
            border-radius: 10px 10px 0 0;
        }

        .dropdown-text {
            display: flex;
            margin: 0;
            padding: 10px;
            align-items: center;

            margin-left: var(--main-text-margin-left, 5px);
            font-size: var(--main-text-size, 16px);
            color: $primary-text-color;

            cursor: pointer;
        }


        .dropdown-arrow {
            margin-left: auto;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .dropdown-options {
            position: absolute;

            top: 100%;
            left: var(--dropdown-border-left, -1px);

            width: var(--dropdown-border-width, calc(100% + 2px));
            box-sizing: border-box;

            background-color: white;

            border: var(--border-options, 1px solid grey);
            border-top: none;

            border-radius: 0 0 8px 8px;

            z-index: 10;
        }

        .dropdown-option {

            padding: var(--option-padding, 10px 0px 10px 15px);

            font-size: var(--option-font-size, 16px);
            color: $primary-text-color;

            cursor: pointer;

            &:hover {
                color: white;
                background-color: $hover-button;
            }
        }
    }
}