<div class="task-options" [style.top.px]="position().top" [style.right.px]="position().right">

    <button class="btn-view">
        <img class="icon" src="icons/search-icon.svg" alt="Visualizar" />
        Visualizar
    </button>

    <button class="btn-edit">
        <img class="icon" src="icons/search-icon.svg" alt="Editar" />
        Editar
    </button>

    <button class="btn-delete" (click)="deleteClicked.emit(taskId())">
        <img class="icon" src="icons/search-icon.svg" alt="Excluir" />
        Excluir
    </button>

</div>