<div class="task-options" 
    [style.top.px]="position().top" 
    [style.right.px]="position().right">

    <button class="btn-view" (click)="viewTaskClicked.emit()">
        <svg lucideEye class="view-icon"></svg>
        <span>Visualizar</span>
    </button>

    <button class="btn-edit" (click)="editTaskClicked.emit()">
        <svg lucidePencil class="edit-icon"></svg>
        <span>Editar</span>
    </button>

    <button class="btn-delete" (click)="deleteTaskClicked.emit()">
        <svg lucideTrash class="delete-icon"></svg>
        <span>Excluir</span>
    </button>

</div>