@if (isTextarea()) {
    <textarea
        class="form-control"
        [formControl]="control()"
        [placeholder]="placeholder()"
        [maxlength]="maxLength()"
        [class.invalid]="isInvalid">
    </textarea>
}
@else {
    <input
        class="form-control"
        [type]="type()"
        [formControl]="control()"
        [placeholder]="placeholder()"
        [maxlength]="maxLength()"
        [class.invalid]="isInvalid">
}

@if (errorMessage; as message) {
    <p class="error-message">{{ message }}</p>
}
