@use "variables" as *;

input, textarea {
    border-radius:  var(--input-radius, 380px);;
    background-color: transparent;
    border: 2px solid grey;
    font-size: 18px;
    color: black;
    height: var(--input-height, 66px);
    width: var(--input-width, 380px);
    text-align: start;
    padding: var(--input-padding, 0px 40px);  
}

input.invalid {
    border-color: red;
}

.error-message {
    position: relative;
    margin: 3px 0px 0px 40px;
    color: red;
    font-size: 13px;
}