@use "variables" as *;

.container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 600px;
    height: 730px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;

    .container-header {
        display: flex;
        color: $primary-color;
        gap: 15px;
        align-items: center;


        .header-texts {
            font-size: 24px;
            font-weight: 600;

            .header-subtitle {
                font-size: 20px;
                color: gray;
            }
        }

        .img-icon {
            width: 60px;
            height: 60px;

        }
    }

    .container-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .content-box {
            display: flex;
            flex-direction: column;
            color: $primary-color;
            font-size: 20px;
            font-weight: 400;

            .task-title {
                margin-left: 20px;
                margin-bottom: 10px;
            }
   
        }

        .dropdown-container{
            display: flex;
            gap: 20px;
        }
    }

    .container-footer {
        display: flex;
        gap: 30px;

        .btn-cancel,
        .btn-submit {
            border-radius: 10px;
            width: 160px;
            height: 45px;
            border: 1px solid $primary-color;
            color: $primary-color;
            font-size: 20px;
            font-weight: 400;

            &:active {
                scale: 0.95;
            }
        }

        .btn-submit {
            background-color: $primary-color;
            color: white;

        }
    }

    .dropdown-priority, .dropdown-status{
        --option-padding: 15px;
        --title-size: 20px;
        --title-weight: 400;
        --title-color: #0b2f6a;
        --dropdown-width: 215px;
        --main-text-size: 16px;
        --dropdown-height: 59px;
        --title-left-margin: 22px;
        --main-text-margin-left: 10px;
        --border-options: 1px solid grey;
        --dropdown-border-width: calc(100% + 2px);
        --dropdown-border-left: -1px;
        --options-text-color: grey;
    }

    .form-title,
    .form-description {
        --input-width: 450px;
        --input-radius: 10px;
        --input-padding: 15px 20px;
        --input-border: 1px solid grey;
        --input-text-placeholder: 16px;
        --error-message-margin: 3px 0px 0px 20px;
    }

    .form-title{
        --input-height: 59px;    
    }
    .form-description {
        --input-height: 180px;    
    }
    
}