@root-entry-name: default;

.zorro-scope {

    @import '../node_modules/ng-zorro-antd/style/entry.less';

    @import '../node_modules/ng-zorro-antd/select/style/entry.less';
    @import '../node_modules/ng-zorro-antd/switch/style/entry.less';
    @import '../node_modules/ng-zorro-antd/date-picker/style/entry.less';


    // Correção da bolinha do switch

    .ant-switch-handle {
        left: 2px;

        transition: left 0.2s ease;
    }

    .ant-switch-checked {

        .ant-switch-handle {
            left: calc(100% - 20px);
        }
    }

}