<div>
    <div class="container">

        <div class="task-header">
            <div class="header-container">
                <h2 class="header-title">Minhas Tarefas</h2>

                <div class="task-filter">
                    <p class="show-all">Todas</p>
                    <p class="show-pending">Pendentes</p>
                    <p class="show-completed">Concluídas</p>
                </div>       
            </div>   
        </div>

        <div class="task-container">
            <label>
                <input type="checkbox" [formControl]="taskForm.controls.completed"> 
            </label>

            <div class="task-texts">
                <p class="task-title">Task title</p>
                <p class="task-description"> Task Description</p>
            </div>

            <div class="details-section">
                <p class="task-date">27/08/2026</p>
                <p class="task-priority">Alta</p>
                <p class="task-status">Pendente</p>
                <img class="task-options" src="" alt="">
            </div>       
        </div>      
         
    </div>
    
   
   
    
</div>