:host {
    --task-columns:  40px 1fr 200px 200px 200px 20px;
}

.container{    
    display: grid;
    grid-template-columns: var(--task-columns);
    padding: 30px;
    border: 2px solid orange;
}

.prop-align{
    justify-self: center;
}