<div class="container">

    <div class="container-header">
        <div class="header-top">

            <h2 class="header-title">Minhas Tarefas</h2>

            <div class="search-new-task-container">
                <div class="search-container">
                    <img class="icon-search" src="icons/search-icon.svg" alt="">
                    <input class="search-input" type="search" placeholder="Pesquisar tarefas..."
                        [formControl]="searchControl">
                </div>

                <button class="btn-newtask">
                    <img src="icons/plus-icon.svg" alt="">
                    <p>Nova Tarefa</p>

                </button>

            </div>

        </div>

        <div class="task-filters">

            <p [class.active]="pagedParams.taskStatusId === null" (click)="filterTasks(null)">
                Todas
            </p>

            <p [class.active]="pagedParams.taskStatusId === TaskStatus.Pending"
                (click)="filterTasks(TaskStatus.Pending)">
                Pendentes
            </p>

            <p [class.active]="pagedParams.taskStatusId === TaskStatus.Completed"
                (click)="filterTasks(TaskStatus.Completed)">
                Concluidas
            </p>

        </div>

    </div>

    <div class="task-container">

        <label class="checkbox">
            <input class="checkbox-input" type="checkbox" [formControl]="allTasksForm.controls.completed">
        </label>

        <p class="prop-task">Tarefas</p>
        <p class="prop-align prop-task" (click)="orderTasks(TaskSort.CreatedAt)">Data de Criação</p>
        <p class="prop-align prop-task" (click)="orderTasks(TaskSort.TaskPriority)">Prioridade</p>
        <p class="prop-align prop-task" (click)="orderTasks(TaskSort.TaskStatus)">Status</p>
        <div empty-column></div>

    </div>

    <div class="tasks-wrapper">
        @for (task of tasks(); track task.id) {
        <app-task [task]="task"></app-task>
        }
    </div>

</div>

<footer class="container-footer">
    <p class="footer-text">Mostrando {{ pagedParams.pageNumber }} de {{tasks().length}} tarefas</p>

    <div class="footer-buttons">

        <p>Páginas: </p>

        <button class="first-page btn-pages" (click)="changePage(1)"> < </button>
        <button class="previous-page btn-pages" (click)="changePage(currentPage - 1)"> << </button>
   
        @for (page of pages; track page) {
            <button [class.active]="currentPage === page" 
                    (click)=" changePage(page)">
                    {{ page }} 
            </button>
        }

        <input class="choose-page btn-pages" 
                type="number"
                placeholder="..." 
                [formControl]="pageInput" 
                min="1" 
                [max]="pages.length" 
                (keydown.enter)="changePage(pageInput.value)">

        <button class="next-page btn-pages" (click)="changePage(currentPage + 1)"> >> </button>
        <button class="last-page btn-pages" (click)="changePage(pages.length)"> > </button>

    </div>
</footer>