@import "../../../styles/variables.scss";

:host {
    --task-columns: 40px 1fr 200px 200px 200px 20px;
}

.container {
    border: 1px solid grey;
    border-radius: 30px;

    .container-header {
        .header-top {
            display: flex;
            margin-left: 50px;
            padding: 25px 0px;

            .header-title {
                font-size: 36px;
                color: $primary-color;
            }

            .search-new-task-container {
                display: flex;
                gap: 20px;
                margin-left: auto;
                padding-right: 50px;
                align-items: center;



                .search-input {
                    padding: 10px;
                    width: 280px;
                    height: 45px;
                    border-radius: 10px;
                    border-color: grey;
                }

                .btn-newtask {
                    display: flex;
                    border: none;
                    width: 180px;
                    height: 45px;
                    font-size: 18px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    border-radius: 10px;
                    background-color: $primary-color;

                    &:active {
                        scale: 0.95;
                    }

                }
            }
        }

        .task-filters {
            display: flex;
            gap: 40px;
            margin-left: 50px;
            padding-bottom: 20px;

            p {
                font-size: 22px;
                color: grey;

                &:hover {
                    color: $primary-color;
                }

            }
        }
    }

    .task-container {
        display: grid;
        grid-template-columns: var(--task-columns);
        padding: 25px 60px;
        border-top: 1px solid grey;
        align-items: center;
        color: grey;

        .prop-task {
            font-size: 24px;
        }

  
    }

    .prop-align {
        justify-self: center;
    }

}