<app-auth-layout
    title="Bem-vindo(a)!"
    primaryButtonText="ENTRAR"
    [isLoading]="isLoading()"
    (submitClicked)="submit()">

    <form auth-form [formGroup]="loginForm">

        <app-input-forms
            type="email"
            placeholder="Endereço de e-mail"
            [control]="loginForm.controls.email">
        </app-input-forms>

        <div class="password-field">
            <app-input-forms
                type="password"
                placeholder="Senha"
                [control]="loginForm.controls.password">
            </app-input-forms>

            <a class="forgot-password-link" routerLink="/forgot-password">
                Esqueceu sua senha?
            </a>
        </div>

        <div class="form-message">
            @if (errorMessage()) {
                <p class="error-message">{{ errorMessage() }}</p>
            }

            @if (successMessage()) {
                <p class="success-message">{{ successMessage() }}</p>
            }
        </div>

    </form>

    <div class="auth-footer" auth-footer>
        <span class="register-text">Não possui uma conta?</span>

        <a class="register-link" routerLink="/register">
            Criar conta
        </a>
    </div>

</app-auth-layout>
