@use "variables" as *;
@use "auth-form" as auth;

@include auth.auth-form-page();

.password-field {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 8px;

    .forgot-password-link {
        align-self: flex-start;
        margin-left: 40px;
        color: $primary-text-color;
        font-size: $body-font-size;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 520px) {
    .password-field {
        width: 100%;

        .forgot-password-link {
            margin-left: 24px;
        }
    }
}