@use "variables" as *;

.date-picker {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.date-picker-label {
    margin-left: 10px;

    font-size: 18px;

    color: $grey-text-color;
}

.date-picker-input {
    width: 140px;
    height: 40px;

    box-sizing: border-box;

    padding: 0 12px;

    border: 1px solid #7e8391;
    border-radius: 10px;

    font-size: 16px;

    color: $primary-text-color;
    background-color: white;

    outline: none;

    cursor: pointer;

    &:focus {
        border-color: $primary-color;
    }
}